body {
    background: rgb(245, 242, 242);
}

#top-box {
    width: 100%;
    height: 90px;
    background-color: white;
    border-bottom-color: #777777;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}    

#top-words {
    max-width: 960px;
    margin: auto;
}

#main-body {
    max-width: 960px;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    border: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#bell {
    width: 270px;
    height: 70px;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    padding: 10px;
    float: left;
}

nav {
    margin-left: 100px;
    margin-top: 40px;
    float: right;
}

a {
    color: #777777;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

#main-box {
    border-style: solid;
    border-color: #777777;
    background-color: white;
    border-width: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

#about {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

hr {
    color: #777777;
}

#boom {
    height: 240px;
    width: 240px;
    float: left;
    margin-right: 15px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 1.6;
}

footer {
    width: 100%;
    height: 90px;
    background-color: #777777;
    border-top: 5px;
    border-top-color: #4aaaa5;
    border-top-style: solid;
}

#photo1 {
    width: 250px;
    height: 250px;
    padding: 25px;
}

#photo2 {
    width: 250px;
    height: 250px;
    padding: 25px;
}

#photo3 {
    width: 250px;
    height: 250px;
    padding: 25px;
}

#photo4 {
    width: 250px;
    height: 250px;
    padding: 25px;
}

#photo5 {
    width: 250px;
    height: 250px;
    padding: 25px;
}
